APPNAME=simphonie
COMPANY=Sebastien Devaux
COPYRIGHT=2021
VERSION=1.0.14

VABS=3.4.26
ABS_REPO:=https://www.eduvax.net/dist
DOMAIN=net.eduvax

WGETFLAGS=--no-check-certificate
DISTHOST=httppub@www.eduvax.net
DISTREPO=$(DISTHOST):/home/httpd/www/dist

LUA_VERSION?=5.4.3
ifneq ($(LUA_VERSION),5.4.3)
VFLAVOR+=lua-$(LUA_VERSION)
endif

USELIB:=simdeck-1.0.23 lua-$(LUA_VERSION) sol2-3.2.3 SXEval-1.0.4 HDF5-1.12.0 fmi-standard|2.0.5

ifneq ($(filter Windows_%,$(ARCH)),)
# on windows no rest since wfrest not availalbe (yet).
NOBUILD+=rest
else
USELIB+=wfrest-0.9.8 workflow-0.11.9
endif

# list of alternate C++ buildchains
CPP_BUILDCHAINS=clang-13
ifneq ($(filter $(BUILDCHAIN),$(CPP_BUILDCHAINS)),)
# add specific suffix for C++ dependencies
CPPUSELIB_SUFFIX=_$(BUILDCHAIN)
CUSTOM_CPP_BUILDCHAIN:=true
endif

CPPUNIT:=cppunit-1.14.0$(CPPUSELIB_SUFFIX)

CFLAGS+=-pthread -std=c++17
LDFLAGS+=-pthread -latomic
DEFINES+=SOL_ALL_SAFETIES_ON=1

ifeq ($(word 1,$(MAKECMDGOALS)),install_smpheader)
SMPPNAME:=$(filter ecss.smp-%,$(USELIB))
USELIB:=
SMPPACKAGE:=$(ABSWS)/cache/$(ARCH)/$(SMPPNAME).$(ARCH).tar.gz
ZIPFILE:=$(word 2,$(MAKECMDGOALS))
install_smpheader: $(ZIPFILE)
	@echo "Installing SMP header package into ABS cache directory..."
	@mkdir -p $(SMPPNAME)/include
	@unzip "$(ZIPFILE)" -d $(SMPPNAME)
	@mv $(SMPPNAME)/Smp $(SMPPNAME)/include
	@echo '$$(eval $$(call extlib_import_template,ecss.smp,$(patsubst ecss.smp-%,%,$(SMPPNAME)),))' > $(SMPPNAME)/import.mk
	@tar -czf $(SMPPACKAGE) $(SMPPNAME)/include $(SMPPNAME)/import.mk
	@rm -rf $(SMPPNAME)
	@echo "Install done."
		
endif

#to enable path
export LUA_CPATH="$(subst :,/?.so;,$(LDLIBP))/?.so"

LUA_CPATH+="$(subst $(_space_),;,$(foreach entry,$(patsubst -L%,%,$(filter -L%,$(LDFLAGS))),$(entry)/?.so $(entry)/lib?.so)))"

#enable some hooks
all:

include $(PRJROOT)/.git.mk
