MODTYPE=exe
INCLUDE_MODS=sol2
USEMOD=
LINKLIB=lua dl
CFLAGS+=
LDFLAGS+=

# helps to ihnerits all LD library path when using make run to lauch app.
ifeq ($(MAKECMDGOALS),run) 
ADV_DEPENDS_MANAGEMENT=false
endif
